{% extends 'base.html.twig' %}
{% block title %}isoftBet -ADD NEW CUSTOMER!{% endblock %}
{% block sidebar_left  %}
      {% include 'AppBundle:Shared:sidebar-left.html.twig' %}
{% endblock sidebar_left %}
{% block content  %}
    <div class="content">
          <div class='row text-center'>
                <div class="col-md-12"
                    <h2> Add New Customer</h2>
                    <h2 class="text-left">
                        <a href="{{path('customer_list')}}" class="btn btn-default" style="float:right">BACK TO CUSTOMER LIST</a>
                    </h2>
                </div>
          </div>
          <div class='row'>
              <div class="col-md-12">
                    <form method="post" action="{{path('customer_create')}}" id="add_customer_form" name="add_customer_form" novalidate="1">
                          <div class="form-group">
                              <lable>Customer Cnp(Customer Id)</lable>
                              <input type="text" id="form_cnp" name="cnp" required="required" class="form-control">
                          </div>
                          <div class="form-group">
                              <lable>Customer Name</lable>
                              <input type="text" id="form_name" name="name" required="required" class="form-control">
                          </div>

                          <div class="form-group">
                              <button type="submit" class="btn btn-default">Create Customer</a>
                          </div>
                    </form>
              </div>
          </div>
    </div>
{% endblock content%}
